 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description_short}} </p>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Automation</h2>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="fa fa-linux"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <p>Assess, build or update your application pipeline.
        Integrate with a variety of tooling and platforms.</p>
    </div>
    <div class="tech">
      <h2>Development</h2>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Build bespoke applications and integrations of systems.
        Backend systems, APIs, tooling.</p>
    </div>
    <div class="tech">
      <h2>Consultancy</h2>
      <i class="fa fa-graduation-cap"></i>
      <i class="fa fa-puzzle-piece"></i>
      <p>Operational assessment, team architecture, planning & delivery.
        One off or ongoing.</p>
    </div>
</div>
