<div class="event-details">
  <h1> Events & Meetups </h1>
  <p> {{site.event_description}} </p>
</div>
<div class="event">
  <div class="tech">
    <h2>Organising</h2>
    <img alt="devopsAmsterdam" data-src="{{ "/assets/img/dodams.png" | prepend: site.baseurl }}" />
    <p>Lorem ipsum dolor sit amet, et vix munere omnesque, ei sea latine electram. Nec liber oratio ubique ea, pri mazim ubique scaevola eu, ad tota ferri sanctus sit.</p>
  </div>
  <div class="tech">
    <h2>Attending</h2>
    <img alt="devopsAmsterdam" data-src="{{ "/assets/img/dodams.png" | prepend: site.baseurl }}" />
    <p>Lorem ipsum dolor sit amet, et vix munere omnesque, ei sea latine electram. Nec liber oratio ubique ea, pri mazim ubique scaevola eu, ad tota ferri sanctus sit.</p>
  </div>
</div>