<div class="user-details">
  <h1> Foolish Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    
    <img alt="CryptoTouchbar" data-src="{{ "/assets/img/cryptoTouch.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cryptocurrency Touchbar </h3>
    <ul>
      <li>Built for Mac Book Pro Touchbars</li>
      <li>Plugin for <a href="https://folivora.ai/">BetterTouchTool</a></li>
      <li>All coins from <a href="https://www.cryptocompare.com/">CryptoCompare</a></li>
    </ul>
    <p>Displays pricing for every crypto currency, providing support for conversion to a number of traditional currencies.</p>
    <a class="project-link medium" href="https://itnext.io/building-a-crypto-price-tracker-for-touch-bar-317c490e613"><i class="fa fa-medium" aria-hidden="true"></i> Article</a>
    <a class="project-link" href="https://chrislennon.github.io/Crypto-Touchbar-App/"><i class="fa fa-desktop" aria-hidden="true"></i> Web App</a>
    <a class="project-link github" href="https://github.com/chrislennon/Crypto-Touchbar-App"><i class="fa fa-github" aria-hidden="true"></i> Source</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
      {% include echo.html %}
  </div>
  <div class="contents-right">
    <h3> AlexaOps </h3>
    <ul>
      <li>Presentation of Alexa & skill setup</li>
      <li>Control AWS resources with voice commands</li>
    </ul>
    <p>Details the background & setup of an Alexa skill.
       Uses AWS Lambda to control other resources on the AWS platform.</p>
    <a class="project-link" href="https://chrislennon.github.io/AlexaOps-Presentation/#/"><i class="fa fa-desktop" aria-hidden="true"></i> Slides</a>
    <a class="project-link github" href="https://github.com/chrislennon/AlexaOps"><i class="fa fa-github" aria-hidden="true"></i> Source</a>
  </div>
</div>
